html
  head
    title= title
    script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
  body
    a(href="/")="Back to list"
    pre=event_id
    pre=dataString
    canvas(id="myChart")
    script(src="scripts/chartscript.js"+event_id)