html
  head
    title= title
    script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
  body
    canvas(id="myChart")
    br
    a(href="/")="Back to list"
    script(src="scripts/chartscript.js"+event_id)